@import url('https://fonts.googleapis.com/css?family=Monoton|Raleway:400,600&display=swap');

body, html {
    height: 100vh;
    display: grid;
    line-height: 1;
}

body {
    background-image: url("./Images/glen-mccallum-Hm1c9F_4jnk-unsplash.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a.btn-large {
    background-color: #695bb3;
}

a.btn-large:hover {
    background-color: #6252b4;
}


a.btn {
    background-color: #695bb3;
}

a.btn:hover {
    background-color: #6252b4;
}

button.btn {
    background-color: #695bb3;
}

button.btn:hover {
    background-color: #6252b4;
}




h1.startH1 {
    font-family: 'Monoton', cursive;
    font-size: 2.5em;
    word-spacing: .15em;
    color: #3a2f2f;
    font-weight: bold;
}

h1 {
    font-size: 1.75em;
    margin-top: 2em;
    margin-bottom: 1em;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}

p.intro {
    font-size: 1.5em;
}

#timer {
    font-family: Arial, Helvetica, sans-serif;
}

#getReady {
    background-color: #c3ade0;
}

div.nav-wrapper {
    background-color:  #4b4e63;
    margin-bottom: 2em;
    text-align: center;
    font-weight: 600;
}

div.default {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255, 255, 255);
    text-align: center;
    min-height: 35em;
    border-radius: .5em;
    box-shadow: 5px 5px 10px #322b38;
    padding: .5em;
    margin: auto;
}

div.game {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: .5em;
    box-shadow: 5px 5px 10px #322b38;
    padding: 1em;
    display: none;
    margin-top: 1em;
    margin-bottom: 2em;
    margin: auto;
    max-height: 40em;
    overflow: scroll;
}

span {
    font-family: 'Raleway', sans-serif;
    padding: .5em;
}


li.choice {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#464346;
    color: rgb(255, 255, 255);
    opacity: .7;
    font-size: 1.25em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding: 1em;
    border-radius: .5em;
}

.saveScore {
    font-family: 'Raleway', sans-serif;
    display: none; 
}

li.correct {
 background-color: green;
}

li.incorrect {
    background-color: red;
}

.startnow {
    font-family: 'Raleway', sans-serif;
    margin-top: 3em;
}

@media screen and (max-width: 325px) {

    div.game {
        max-height: 35em;
    }
}

@media screen and (max-width: 425px) {

    li.choice {
        width: 100%;
    }

    .startnow {
        margin-top: 0em;
        margin-bottom: 2em; 
    }

    p.intro {
        font-size: 1.25em;
    }

    h1.startH1 {
        font-size: 2em;
    }
}

